.grid{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

body{
  background-color: yellow;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
}

#grid{
  background-color: whitesmoke;
}
