
body{
  display: flex;
  align-items:center;
  text-align: center;
  justify-content :center;
  flex-direction: column;
  background-color: #9b5de5;
  font-family: 'Press Start 2P', cursive;
}

.header{
  color:#ffbc0a;
  font-size: 48px;
  text-shadow: 4px 3px white;
  padding: 30px 40px 30px 40px;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  border-radius: 25px;
  border: 5px solid #f15bb5;
  padding: 10px;

}

.settings{
  display: flex;
  gap: 20px;
  height: 50px;
  padding: 20px;
  justify-content :center;
  align-items: center;
}

.setBtn{
  background-color: #64dfdf;
  font-size: 20px;
  border: 3px solid #00bbf9;
  font-family: 'Space Mono', monospace;
  color: #f15bb5;
}

.size-slider{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content :center;
  padding :15px;
}

input[type="range"] {
  height: 2px;
  background: #404040;
  appearance: none;
  outline: none;
  border-radius: 2px;
  width: 85px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bbf9;
}

.footer{
  font-size: 12px;
  padding: 20px 5px 5px 5px;
}
